---
import { ViewTransitions } from "astro:transitions";
import "~/styles/global.css";

interface Props {
  title?: string;
}

const { title = "Kz Creation Notes" } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <script>
      (function (d) {
        var config = {
            kitId: "bws8izi",
            scriptTimeout: 3000,
            async: true,
          },
          h = d.documentElement,
          t = setTimeout(function () {
            h.className =
              h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
          }, config.scriptTimeout),
          tk = d.createElement("script"),
          f = false,
          s = d.getElementsByTagName("script")[0],
          a;
        h.className += " wf-loading";
        tk.src = "https://use.typekit.net/" + config.kitId + ".js";
        tk.async = true;
        // @ts-ignore - Typekit uses legacy script loading properties
        tk.onload = tk.onreadystatechange = function () {
          // @ts-ignore - readyState is a legacy property
          a = this.readyState;
          if (f || (a && a != "complete" && a != "loaded")) return;
          f = true;
          clearTimeout(t);
          try {
            // @ts-ignore - Typekit is loaded dynamically
            Typekit.load(config);
          } catch (e) {}
        };
        if (s.parentNode) {
          s.parentNode.insertBefore(tk, s);
        }
      })(document);
    </script></head
  >

  <body class="m-0 p-0">
    <div id="app">
      <slot />
    </div>
  </body>
</html>
